<!-- Generated template for the QuestionComponent component -->
<div>
  <ion-card>
    <ion-card-header text-wrap>
      <ion-badge>{{question.id}}</ion-badge> {{question.text}}
    </ion-card-header>
  
    <ion-list>
      <ion-item text-wrap *ngFor="let answer of question.answers">
        <ion-row>
          <ion-col col-1>{{answer.id}}</ion-col>
          <ion-col>{{answer.text}}</ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-range min="0" step="1" max="5" snaps="true" [(ngModel)]="points" (ionChange)="calculateAnswerPoints()">
          <ion-label range-left><ion-badge>{{question.answers[0].points}}</ion-badge> A</ion-label>
          <ion-label range-right>B <ion-badge>{{question.answers[1].points}}</ion-badge></ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-card>
</div>
